<div class="container" style="background-color: rgb(190, 230, 232);">
    <br>
    <h2  style="text-align: center;">Ingreso de Productos</h2>
    <div style="text-align: center;">
<form  id="formulario">
    <div >
    <label for="titulo">
        <span>Nombre</span>
        <input type="text" id="titulo" class="form-control" name="nombre" placeholder="">
    </label>
    </div>
    <div >
        <label for="descripcion">
            <span>Descripcion</span>
            <input type="text" id="descripion" class="form-control" name="descripcion" placeholder="">
        </label>
        </div>
        <div class="mb-3">
            <label for="codigo">
                <span>Codigo</span>
                <input type="number" id="codigo" name="codigo" class="form-control" placeholder="">
            </label>
            </div>
    <div class="mb-3">
    <label for="precio">
        <span>Precio</span>
        <input type="number" id="precio" name="precio" class="form-control" placeholder="">
    </label>
    </div>
    <div class="mb-3">
    <label for="ruta">
        <span>URL del archivo</span>
        <input type="text" id="nombre" class="form-control" name="ruta" placeholder="">
    </label>
    </div>
    <div class="mb-3">
        <label for="stock">
            <span>stock</span>
            <input type="number" id="stock" name="stock" class="form-control" placeholder="">
        </label>
        </div>
    <button type="submit" class="btn btn-primary" value="Agregar" > Enviar</button>
    </form>
    </div>
</div>
